/* HTML{background-color: rgb(4, 20, 26);} */
/* HTML{background-image: url('cows.jpg')} */
.contractEntry {
    display: block;
    width: 100%;
    height: 900px;

}
.title {
    font-size: 5rem;
    font-family: lobster;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 145, 245);
    box-shadow: 0px 0px 40px inset;
    text-shadow: 2px 2px 10px;
    border-radius: 10px;
    padding: 20% 2%;
    border: 3px solid rgb(48, 19, 5);
}
.question {
    position: relative;
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-content: center;
    /* height: 150px;
    width: 200px; */
    background-color: rgb(46, 145, 245);
    box-shadow: 0px 0px 20px rgb(44, 5, 5) inset;
    /* box-shadow: 0px 0px 10px rgb(44, 5, 5); */
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-shadow: 2px 2px 10px;
    border-radius: 20px;
    border: 3px solid rgb(20, 7, 1);
    width: 200px;
}


